.foot{
    text-align: center;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    background-color: #fff;
    background: linear-gradient(to left, #e57373, #f06d06);
    padding: 8px;
    font-size: 18px;

}